<app-header [IsTodo]="IsTodo"></app-header>
<div class="container">
    <h2 class="login-main login-title">User Login</h2>
    <div class="login-main">

        <form class="form-outer" [formGroup]="logInForm">
            <div class="imgcontainer">
                <img src="/assets/sign-up.png" alt="login-logo" class="avatar">
            </div>

            <div class="container">
                <div>
                    <label><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" formControlName="email">
                    <div class="err-msg" *ngIf="isValidation && fieldrequired === 'email'">{{fieldrequired}} fiels is required.</div>
                </div>
                <div>
                    <label><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" formControlName="password">
                    <div class="err-msg" *ngIf="isValidation && fieldrequired === 'password'">{{fieldrequired}} fiels is required.</div>
                </div>
                <div class="login-outer">
                    <button type="submit" class="btn btn-primary" (click)="onLogin() ">Login</button>
                    <button type="button " class="cancelbtn btn btn-danger" [routerLink]="'/home'">Cancel</button>
                </div>
            </div>

            <!-- <div class="forgot-outer">
                <div>
                    <button type="button" class="forgot-inner btn btn-primary btn-sm">Forgot Password?</button>
                </div>
            </div> -->
        </form>

    </div>
</div>